@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #fde68a;
  --secondary-colour: #0e7490;
}

body {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  font-family: "Montserrat", sans-serif;
}

.heading {
  margin-top: 10%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 70%;
  text-align: center;
}

#birthday-date,
#lucky-number {
  margin: 1rem auto;
  width: 40%;
  padding: 0.25rem;
  text-align: center;
}

.labels {
  font-size: 1.2rem;
  margin: 0.25rem;
}

.check-number {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 40%;
  margin: 2rem auto;
  border-radius: 5px;
  cursor: pointer;
}

.output {
  font-size: 1.7rem;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  position: absolute;
  bottom: 0px;
}

.privacy-notice {
  font-size: 1.2rem;
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.social-item {
  margin-right: 1rem;
}

.social-item a {
  text-decoration: none;
  color: var(--secondary-colour);
  cursor: pointer;
}
